<mat-toolbar color="primary">
  <span (click)="openInventory()">Inventory</span>

  <span (click)="openDealers()">Dealers</span>

</mat-toolbar>

<mat-drawer-container class="example-container" style="height: 500px">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
        <mat-list-item role="listitem" (click)="openCategory()">Category</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" (click)="openAttributes()">Attributes</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem"  (click)="openItems()">Items</mat-list-item>
      </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-inventory ></app-inventory>
  </mat-drawer-content>
</mat-drawer-container>


