<form class="example-form" #attributeForm="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Attribute Name" required name="attribute_name" [(ngModel)]="attribute.attribute_name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Attribute Description" required name="attribute_description" [(ngModel)]="attribute.attribute_description"></textarea>
  </mat-form-field>
  <section class="example-section">
    <button type="submit" (click)="saveAttribute()" [disabled]="!attributeForm.form.valid" mat-raised-button color="primary">Save</button>
    <button color="warn" mat-raised-button [disabled]="!attribute.id" (click)="delete()">Delete</button>
  </section>
</form>