<form class="example-form" #categoryForm="ngForm">
  <mat-form-field class="example-full-width">
    <input required matInput placeholder="Category Name" name="category_name" [(ngModel)]="category.category_name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea required matInput placeholder="Category Description" name="category_description" [(ngModel)]="category.category_description"></textarea>
  </mat-form-field>
  <section class="example-section">
    <mat-checkbox class="example-margin" [(ngModel)]="category.category_active" name="category_active">Active</mat-checkbox>

  </section>
  <section class="example-section">
    <button type="submit" (click)="saveCategory()" [disabled]="!categoryForm.form.valid" mat-raised-button color="primary">Save</button>
    <button color="warn" mat-raised-button [disabled]="!category.id" (click)="delete()">Delete</button>
  </section>
</form>